target/

# but not webrunner.jar
!target/dependency/webapp-runner.jar
!target/travel-0.0.1-SNAPSHOT.jar

!.mvn/wrapper/maven-wrapper.jar
node/
src/main/webapp/node_modules/
src/main/webapp/index.html
src/main/webapp/index-bundle.js

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
